* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-style: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style-type: none;
}
img {
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-style: inherit;
	font-weight: 400;
}

body {
	font-family: "Red Rose";
	font-size: 22px;
	font-weight: 400;
	line-height: 1;
	height: 100%;
	color: #fff;
	background-color: #162359;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

/*----------------------технические классы-------------------------------*/
._container {
	max-width: 1648px;
	margin: 0 auto;
	padding: 0 15px;
}

._ibg {
	position: relative;
}

._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
/*----------------------HEADER-------------------------------*/
.header {
	position: relative;
	z-index: 1;
}
.header::after {
	content: "";
	position: absolute;
	background-image: url("../img/header/01.svg");
	width: 78px;
	height: 78px;
	bottom: -97px;
	right: 45%;
	background-repeat: no-repeat;
	z-index: 10;
	opacity: 0.3;
}

.header__container {
	min-height: 125px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__logo {
	font-weight: 700;
	font-size: 40px;
	line-height: 100%;
	color: #D9ECFF;
}

.header__logo span {
	color: #FFD054;
}
.header__menu {
}
.menu {
	padding-left: 35px;
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
	padding: 15px 0;
}
.menu__item:last-child {
	padding-right: 20px;

}
.menu__item:not(:last-child) {
	margin: 0 60px 10px 0;
}
.menu__link {
	display: inline-block;
	font-family: "Inter";
	font-weight: 700;
	line-height: 109%;
	color: inherit;
}

.header__btn {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family: "Inter";
	font-weight: 600;
	font-size: 18px;
	line-height: 155.5%;
	border: 2px solid rgba(255, 255, 255, 0.4);
	color: #D9ECFF;
	padding: 17.5px 62.5px;
	border-radius: 15px;
}

.header__btn:hover {
	color: #000;
	border: 2px solid #FFD054;
	background-color: #FFD054;
}

@media (max-width: 776px) {
	.header__logo {		
		padding-top: 15px;
		font-size: 32px;
	}
}

@media (max-width: 479px) {
	.header__container {
		flex-wrap: wrap;
	}
	.header__logo {
		flex: 1 1 100%;
	}
	.header__menu {
		flex: 1 1 100%;
		padding-left: 0;
	}
	.menu__item:not(:last-child) {
		margin: 0 50px 10px 0;
	}
	.header__btn {
		margin: 0 auto;
	}
}
/*----------------------Page--------------------------------*/
.page {
	flex: 1 1 auto;
}
.page__main-block {
}
.page__partners {
}
/*----------------------MAIN-Block-----------------------*/

.main-block {
	
}
.main-block__container {
	position: relative;
	display: flex;

}

.main-block__body {
	padding: 80px 0 176px 0;
	max-width: 700px;
	flex: 0 1 39%;
	margin: 0 0 56.5px 0;	
}


.main-block__title {
	font-size: 70px;
	line-height: 114%;
	letter-spacing: -0.02em;
	position: relative;
}

.main-block__title::before {
	content: "";
	position: absolute;
	background-image: url("../img/main-block/01.png");
	width: 107px;
	height: 107px;
	bottom: 3px;
	right: -105px;
	background-repeat: no-repeat;
	z-index: 9;
	cursor: pointer;
}

.main-block__title:not(:last-child) {
	margin: 0 0 44px 0;
}

.main-block__title span {
	color: #FFD054;
	position: relative;
}

.main-block__title span::after {
	content: "";
	position: absolute;
	background-image: url("../img/main-block/02.svg");
	width: 62px;
	height: 62px;
	bottom: 3px;
	right: -54px;
	background-repeat: no-repeat;
}
.main-block__text {
	font-family: 'Inter';
	font-weight: 500;	
	line-height: 145%;
	color: #D0D3DB;
}

.main-block__text:not(:last-child) {
	margin: 0 0 63px 0;
}

.main-block__buttons {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 34px;
	position: relative;
}

.main-block__buttons::after {
	content: "";
	position: absolute;
	background-image: url("../img/main-block/06.png");
	width: 78px;
	height: 78px;
	bottom: 0;
	right: 0;
	background-repeat: no-repeat;
	z-index: 11;
}
.main-block__buttons:not(:last-child) {
	margin: 0 0 66px 0;
}
.main-block__btn {
	font-family: "Inter";
	font-weight: 600;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	min-height: 76px;
	color: #fff;
	padding: 5px 27px;
	border-radius: 15px;
	border: 2px solid rgba(255, 255, 255, 0.4);
	transition: all 0.3s ease 0s;	
	position: relative;
	z-index: 15;
}

.main-block__btn:not(:last-child) {
	margin: 0 26px 0 0;
}

.main-block__btn:hover {
	color: #000;
	border: 2px solid #FFD054;
	background-color: #FFD054;
}

.main-block__img {
	flex: 0 1 61%;	
	z-index: 6;	
	position: relative;	
}
.main-block__img img {
	position: relative;
	max-width: 100%;
	left: 153px;
	top: 80px;
}
.main-block__info {
	padding-top: 34px;
	padding-bottom: 56.5px;
	position: relative;
}

.main-block__info::after {
	content: "";
	position: absolute;
	background-image: url("../img/main-block/04.png");
	width: 553px;
	height: 244px;
	top: -26px;
	left: -1px;
	background-repeat: no-repeat;
	z-index: 19;
}

.info {
}
.info__body {
	display: flex;

}
.info__item {
	text-align: center;
	padding: 0 35px;
}
.info__item:not(:last-child) {
	margin: 0 30px 0 0;
}
.info__number {
	font-weight: 700;
	font-size: 44px;
	line-height: 123%;
	color: #D9ECFF;
}
.info__text {
	font-family: 'Inter';
	font-weight: 600;
	font-size: 18px;
	line-height: 167%;
	color: #D9ECFF;
}

@media (max-width: 1266px) {
	.main-block__title {		
		z-index: 10;
	}
	.main-block__img img {
		min-width: 105%;
		top: 180px;
	}
}

@media (max-width: 1115px) {
	.main-block__body {		
		flex: 1 1 100%;
		order: 2;
	}
		
	.main-block__container {		
		flex-wrap: wrap;
		justify-content: center;
	}

	.main-block__body {
		padding: 80px 0 85px 0;
		
}

	.main-block__img {
		flex: 1 1 100%;		
		order: 1;
	}

	.main-block__img img {
		
		top: 0;
		left: 0;
	}
	} 


@media (max-width: 992px) {
	.main-block__img {		
		opacity: 0.4;
	}
	.main-block__text {
		color: #fff;
	}
	.main-block__title {
		font-size: 50px;
		
	}
	.main-block__title::before {		
		bottom: -47px;
		right: 53px;		
	}
	.main-block__body {
		padding: 40px 0 40px 0;		
		margin: 0;
	}
		.main-block__title span::after {			
			bottom: -2px;
			right: 193px;
}
}

@media (max-width: 627px){
	.main-block__title span::after {
		bottom: -2px;
		right: -42px;
}
.main-block__title::before {
	bottom: 164px;
	right: 336px;
}
}

@media (max-width: 600px){
	.main-block__body {
		padding: 40px 0 20px 0;
	}
	.main-block__info::after {
		display: none;
}
.info__body {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.info__item:not(:last-child) {
	margin: 0 15px 20px 0;
}
.main-block__title span::after {
	bottom: 3px;
	right: -54px;
}
.main-block__buttons:not(:last-child)  {
	margin-bottom: 20px;	
}
}

@media (max-width: 500px){
	
	.main-block__info {
		padding-top: 0;
	}
	.main-block__buttons {		
		padding-bottom: 15px;
		justify-content: center;
		text-align: center;
		align-items: baseline;
	}
	
	.main-block__btn:not(:last-child) {
		margin: 0 15px 19px 0;
}

}

@media (max-width: 479px) {
	.menu__list {		
		padding: 20px 0;
}
.main-block__btn {
	margin-bottom: 15px;
}
.main-block__title::before {
	bottom: 230px;
	right: 160px;
}
}
/*----------------------PARTNERS-------------------------*/

.partners {
	padding: 81px 0;
	background-color: #2C30B8;
	position: relative;	
}

.partners::before {
	content: "";
	min-width: 110%;
	min-height: 100%;
	position: absolute;
	top: 10px;
	left: 0;
	background-color: #F2C94C;;
	z-index: -1;
	transform: rotate(-3.73deg);
}
.partners__container {
}

.partners__body {
}
.partners__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.partners__item {
	padding: 8px 15px;
	min-width: 250px;
	flex: 0 1 16.6667%;
	text-align: center;
}
.partners__item:not(:last-child) {
	margin: 0 0 24px 0;
}

@media (max-width: 992px) {
	.partners::before {		
		transform: rotate(-7.73deg);
	}
}

@media (max-width: 600px) {
	.partners  {
		padding: 30px 0;
	}
}