* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-style: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style-type: none;
}
img {
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-style: inherit;
	font-weight: 400;
}

body {
	font-family: "Red Rose";
	font-size: 22px;
	font-weight: 400;
	line-height: 1;
	height: 100%;
	color: #fff;
	background-color: #162359;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

/*----------------------технические классы-------------------------------*/
._container {
	max-width: 1648px;
	margin: 0 auto;
	padding: 0 15px;
}

._ibg {
	position: relative;
}

._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
/*----------------------HEADER-------------------------------*/
.header {
	position: relative;
	z-index: 1;
}
.header::after {
	content: "";
	position: absolute;
	background-image: url("../img/header/01.svg");
	width: 78px;
	height: 78px;
	bottom: -97px;
	right: 45%;
	background-repeat: no-repeat;
	z-index: 10;
	opacity: 0.3;
}

.header__container {
	min-height: 125px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__logo {
	font-weight: 700;
	font-size: 40px;
	line-height: 100%;
	color: #D9ECFF;
}

.header__logo span {
	color: #FFD054;
}
.header__menu {
}
.menu {
	padding-left: 35px;
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
	padding: 15px 0;
}
.menu__item:last-child {
	padding-right: 20px;

}
.menu__item:not(:last-child) {
	margin: 0 60px 10px 0;
}
.menu__link {
	display: inline-block;
	font-family: "Inter";
	font-weight: 700;
	line-height: 109%;
	color: inherit;
}

.header__btn {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family: "Inter";
	font-weight: 600;
	font-size: 18px;
	line-height: 155.5%;
	border: 2px solid rgba(255, 255, 255, 0.4);
	color: #D9ECFF;
	padding: 17.5px 62.5px;
	border-radius: 15px;
}

.header__btn:hover {
	color: #000;
	border: 2px solid #FFD054;
	background-color: #FFD054;
}

@media (max-width: 776px) {
	.header__logo {		
		padding-top: 15px;
		font-size: 32px;
	}
}

@media (max-width: 479px) {
	.header__container {
		flex-wrap: wrap;
	}
	.header__logo {
		flex: 1 1 100%;
	}
	.header__menu {
		flex: 1 1 100%;
		padding-left: 0;
	}
	.menu__item:not(:last-child) {
		margin: 0 50px 10px 0;
	}
	.header__btn {
		margin: 0 auto;
	}
}
/*----------------------Page--------------------------------*/
.page {
	flex: 1 1 auto;
}
.page__main-block {
}
.page__partners {
}
.page__category {
}
.page__courses {
	margin-bottom: 66px;
}
.page__instructors {
}
.page__people {
}
/*-----------------------Top (бэм-блок) -----------------------------*/
.top {
}
.top__title {
	margin: 0 0 24px 0;
}
.title {
}
.top__text {
	font-family: 'Inter';
	font-weight: 400;
	font-size: 22px; ()
	line-height: 145%;
	text-align: center;
	color: #D0D3DB;
}
/*-----------------------Title(бэм-блок) -----------------------------*/
.title {
	font-weight: 700;
	font-size: 60px;
	line-height: 117%;
	text-align: center;
	letter-spacing: -0.5px;
}

.title span {
	color: #F2C94C;
}

.courses__buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 97px;
	
}
/*----------------------MAIN-Block-----------------------*/

.main-block {
	
}
.main-block__container {
	position: relative;
	display: flex;

}

.main-block__body {
	padding: 80px 0 176px 0;
	max-width: 700px;
	flex: 0 1 39%;
	margin: 0 0 56.5px 0;	
}


.main-block__title {
	font-size: 70px;
	line-height: 114%;
	letter-spacing: -0.02em;
	position: relative;
}

.main-block__title::before {
	content: "";
	position: absolute;
	background-image: url("../img/main-block/01.png");
	width: 107px;
	height: 107px;
	bottom: 3px;
	right: -105px;
	background-repeat: no-repeat;
	z-index: 9;
	cursor: pointer;
}

.main-block__title:not(:last-child) {
	margin: 0 0 44px 0;
}

.main-block__title span {
	color: #FFD054;
	position: relative;
}

.main-block__title span::after {
	content: "";
	position: absolute;
	background-image: url("../img/main-block/02.svg");
	width: 62px;
	height: 62px;
	bottom: 3px;
	right: -54px;
	background-repeat: no-repeat;
}
.main-block__text {
	font-family: 'Inter';
	font-weight: 500;	
	line-height: 145%;
	color: #D0D3DB;
}

.main-block__text:not(:last-child) {
	margin: 0 0 63px 0;
}

.main-block__buttons {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 34px;
	position: relative;
}

.main-block__buttons::after {
	content: "";
	position: absolute;
	background-image: url("../img/main-block/06.png");
	width: 78px;
	height: 78px;
	bottom: 0;
	right: 0;
	background-repeat: no-repeat;
	z-index: 11;
}
.main-block__buttons:not(:last-child) {
	margin: 0 0 66px 0;
}
.main-block__btn {
	font-family: "Inter";
	font-weight: 600;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	min-height: 76px;
	color: #fff;
	padding: 5px 27px;
	border-radius: 15px;
	border: 2px solid rgba(255, 255, 255, 0.4);
	transition: all 0.3s ease 0s;	
	position: relative;
	z-index: 15;
}

.main-block__btn:not(:last-child) {
	margin: 0 26px 0 0;
}

.main-block__btn:hover {
	color: #000;
	border: 2px solid #FFD054;
	background-color: #FFD054;
}

.main-block__img {
	flex: 0 1 61%;	
	z-index: 6;	
	position: relative;	
}
.main-block__img img {
	position: relative;
	max-width: 100%;
	left: 153px;
	top: 80px;
}
.main-block__info {
	padding-top: 34px;
	padding-bottom: 56.5px;
	position: relative;
}

.main-block__info::after {
	content: "";
	position: absolute;
	background-image: url("../img/main-block/04.png");
	width: 553px;
	height: 244px;
	top: -26px;
	left: -1px;
	background-repeat: no-repeat;
	z-index: 19;
}

.info {
}
.info__body {
	display: flex;

}
.info__item {
	text-align: center;
	padding: 0 35px;
}
.info__item:not(:last-child) {
	margin: 0 30px 0 0;
}
.info__number {
	font-weight: 700;
	font-size: 44px;
	line-height: 123%;
	color: #D9ECFF;
}
.info__text {
	font-family: 'Inter';
	font-weight: 600;
	font-size: 18px;
	line-height: 167%;
	color: #D9ECFF;
}

@media (max-width: 1266px) {
	.main-block__title {		
		z-index: 10;
	}
	.main-block__img img {
		min-width: 105%;
		top: 180px;
	}
}

@media (max-width: 1115px) {
	.main-block__body {		
		flex: 1 1 100%;
		order: 2;
	}
		
	.main-block__container {		
		flex-wrap: wrap;
		justify-content: center;
	}

	.main-block__body {
		padding: 80px 0 85px 0;
		
}

	.main-block__img {
		flex: 1 1 100%;		
		order: 1;
	}

	.main-block__img img {
		
		top: 0;
		left: 0;
	}
	} 


@media (max-width: 992px) {
	.main-block__img {		
		opacity: 0.4;
	}
	.main-block__text {
		color: #fff;
	}
	.main-block__title {
		font-size: 50px;
		
	}
	.main-block__title::before {		
		bottom: -47px;
		right: 53px;		
	}
	.main-block__body {
		padding: 40px 0 40px 0;		
		margin: 0;
	}
		.main-block__title span::after {
			bottom: -2px;
			right: 193px;
}
}

@media (max-width: 627px){
	.main-block__title span::after {
		bottom: -2px;
		right: -42px;
}
.main-block__title::before {
	bottom: 164px;
	right: 336px;
}
}

@media (max-width: 600px){
	.main-block__body {
		padding: 40px 0 20px 0;
	}
	.main-block__info::after {
		display: none;
}
.info__body {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.info__item:not(:last-child) {
	margin: 0 15px 20px 0;
}
.main-block__title span::after {
	bottom: 3px;
	right: -54px;
}
.main-block__buttons:not(:last-child)  {
	margin-bottom: 20px;	
}
}

@media (max-width: 500px){
	
	.main-block__info {
		padding-top: 0;
	}
	.main-block__buttons {		
		padding-bottom: 15px;
		justify-content: center;
		text-align: center;
		align-items: baseline;
	}
	
	.main-block__btn:not(:last-child) {
		margin: 0 15px 19px 0;
}

}

@media (max-width: 479px) {
	.menu__list {		
		padding: 20px 0;
}
.main-block__btn {
	margin-bottom: 15px;
}
.main-block__title::before {
	bottom: 230px;
	right: 160px;
}
}
/*----------------------PARTNERS-------------------------*/

.partners {
	padding: 81px 0;
	background-color: #2C30B8;
	position: relative;	
}

.partners::before {
	content: "";
	width: 120%;
	min-height: 100%;
	position: absolute;
	top: 10px;
	left: -10%;
	background-color: #F2C94C;
	z-index: -1;
	transform: rotate(-3.73deg);
	
}
.partners__container {
}

.partners__body {
}
.partners__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.partners__item {
	padding: 8px 15px;
	min-width: 250px;
	flex: 0 1 16.6667%;
	text-align: center;
}
.partners__item:not(:last-child) {
	margin: 0 0 24px 0;
}

@media (max-width: 992px) {
	.partners::before {		
		transform: rotate(-7.73deg);
	}
}

@media (max-width: 600px) {
	.partners  {
		padding: 30px 0;
	}
}

/*--------------------CATEGORY------------------------*/

._category {
	padding: 181px 0 96px 0;
}

.category__container {
}

.category__title {
	margin: 0 0 101px 0;
	position: relative;
}
.category__title::after {
	content: "";
	position: absolute;
	width: 46px;
	height: 61px;
	margin-left: 50px;
	background-image: url("../img/category/01.svg");
	background-repeat: no-repeat;
}
.category__title::before {
	content: "";
	position: absolute;
	width: 79px;
	height: 79px;
	top: -57px;
	left: 108px;
	background-image: url("../img/category/02.svg");
	background-repeat: no-repeat;
}

.category__item {
	margin: 0 -14.5px;
}
.item-category {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
}

.item-category__cover {
	padding: 0 14.5px;
}
.item-category__body {
	flex: 0 1 16.667%;
	min-width: 245px;
	padding: 44px 5px 59px;
	background-color: #2F2B6D;
	border-radius: 20px;
	margin: 0 0 29px 0;
}

.item-category__body img {
	margin: 0 0 34px 0;
}
.category__item-text {
	font-weight: 700;
	font-size: 25px;
	line-height: 88%;	
}

@media (min-width: 1648px) {
	.item-category::before {
		content: "";
		position: absolute;
		width: 43px;
		height: 43px;
		top: 38%;
		left: 0px;
		background-image: url("../img/category/icon/07.svg");
		background-repeat: no-repeat;
	}
	.item-category::after {
		content: "";
		position: absolute;
		width: 43px;
		height: 43px;
		top: 38%;
		right: 0px;
		background-image: url("../img/category/icon/08.svg");
		background-repeat: no-repeat;
	}
}

/*----------------------COURSES---------------------------*/


.courses {
	padding: 100px 0 34px 0;
}
.courses__container {
}

.courses__top {
	margin: 0 0 41.2px 0;
	position: relative;
}

.courses__top::before {
	content: "";
	position: absolute;
	width: 274.25px;
	height:271px;
	top: -76px;
	left: 47px;
	background-image: url("../img/courses/01.svg");
	background-repeat: no-repeat;	
	transform: rotate(14.52deg);
}

.courses__top::after {
	content: "";
	position: absolute;
	width: 138px;
	height: 138px;
	top: 0;
	right: 100px;
	background-image: url("../img/courses/02.svg");
	background-repeat: no-repeat;	
	
}

.courses__button {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family: 'Inter';
	font-weight: 500;
	font-size: 18px;
	line-height: 167%;
	color: inherit;
	padding: 15px 35px;
	border: 2px solid rgba(255, 255, 255, 0.3);
	border-radius: 15px;
	
	
}

.courses__button:not(:last-child) {
	margin: 0 20px 0 0;
}

.courses__button:hover {
	color: #000;
	border: 2px solid #FFD054;
	background-color: #FFD054;
}

.courses__items {
	display: flex;
	margin: 0 -20px 0 -20px;
	flex-wrap: wrap;
	justify-content: center;
	
}
.courses__item {
	/* min-width: 508px; */
	min-height: 100%;
	flex: 0 1 33.333%;
	border-radius: 12px;
	padding: 0px 20px;
	margin: 0 0 40px 0;
	overflow: hidden;
}

.item-courses__content  {
	padding: 24px 30px 0px 30px;
	background: #2F2B6D;
	/* display: flex;
	flex-direction: column;
	align-items: center; */
	border-radius: 12px;
	min-height: 100%;
}

.item-courses__image {
	margin: 0 0 45px 0;	
	border-radius: 12px;
	width: 100%;
	height: 100%;
}

.item-courses__title {
	max-width: 100%;
	margin: 0 0 33px 0;
}
.item-courses__cover1 {
	margin: 0 0 18.6px 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.item-courses__label {
	font-family: 'Inter';
	font-weight: 500;
	font-size: 16px;
	line-height: 175%;
	color: #B1B5C1;
}
.item-courses__label span {
	color: #FFD054;
}
.item-courses__icons {
	display: flex;
	justify-content: space-between;
	max-width: 104px;
	margin: 0 0 41px 0;
}
.item-courses__icon {
	background-image: url("../img/courses/star.svg");
	width: 17px;
	height: 17px;
}
.item-courses__icon:last-child {
	background-image: url("../img/courses/white-star.svg");
}

.item-courses__icon:not(:last-child) {
	margin: 0 5px 0 0;
}

.item-courses__cover2 {
	display: flex;
	justify-content: space-between;
}
.item-courses__btn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: 'Inter';
	font-weight: 500;
	font-size: 16px;
	line-height: 112%;
	color: inherit;
	padding: 8px 26px;
	border: 2px solid rgba(255, 255, 255, 0.5);
	border-radius: 5px;	
}

.item-courses__btn:hover {
	color: #000;
	border: 2px solid #FFD054;
	background-color: #FFD054;
	
}

.item-courses__text {
	font-family: 'Inter';
	font-weight: 500;
	font-size: 16px;
	line-height: 112%;
	color: #D9ECFF;
}

.item-courses__btn-wide {
	position: relative;
	/* display: inline-flex; */
	min-height: 76px;
	padding: 24px 120px;
	transition: 0.5s;
	top: 140px;
	background-color: #FFD054;
	color: #000;
	margin: 0 auto;	
	text-align: center;
	
}

.item-courses:hover .item-courses__btn-wide {
	top: -50px;
}

.item-courses__title {
	position: relative;
	transition: 0.5s;
	background: #2F2B6D;
	
}

.item-courses:hover .item-courses__title {
	top: -95px;
	padding-top: 50px;
}

.item-courses__cover2,
.item-courses__cover1 {
	position: relative;
	transition: 0.5s;
}
.item-courses:hover .item-courses__cover2,
.item-courses:hover .item-courses__cover1 {
	top: -100px;
	background: #2F2B6D;
}

.item-courses__btn-big {
	min-height: 76px;
	padding: 5px 28px;
	background-color: #FFD054;
	color: #000;
	margin-top: 97px;
	position: relative;
}

.item-courses__btn-big::after {
	content: "";
	position: absolute;
	background-image: url("../img/courses/blue-star.svg");
	width: 73px;
	height: 73px;
	bottom: -73px;
	left: -420px;
	background-repeat: no-repeat;

}

@media (max-width: 1432px) {
	.item-courses__btn-wide {
		top: 140px;
	}
	.item-courses__content  {
		margin-bottom: -30px;
	}
}

@media (max-width: 1284px) {
	.courses__item {
		flex: 0 1 50%;
	}
	.item-courses__btn-wide {
		padding: 5px 0;
	}	
	.courses__top::before {
		display: none;
	}
	.item-courses__btn-big::after {		
		left: -220px;	
	}
} 



@media (max-width: 800px) {
	.courses__item {
		flex: 1 1 100%;
	}
	.item-courses__content {
		padding: 36px 60px 0;
	}

	.item-courses__title {
		font-size: 40px;
	}

	.item-courses__btn-big {		
		margin-top: 37px;
	}
	
}

@media (max-width: 776px) {
	.courses__button:not(:last-child) {
		margin: 0 20px 20px 0;
	}
	.courses__button:last-child {
		margin-bottom: 20px;
	}
	.item-courses__btn-big::after {		
		left: -120px;	
	}
}

@media (max-width: 550px) {
	.item-courses__title {
		font-size: 29px;
	}
}
/*-----------------INSTRUCTORS------------------*/


.instructors {
	padding: 37px 0 70px 0;
}
.instructors__container {
}

.instructors__top {
	margin: 0 0 90px 0;
	position: relative;
}

.instructors__top::after {
	content: "";
	position: absolute;
	background-image: url("../img/instructors/icons/star.svg");
	width: 107px;
	height: 107px;
	top: 0;
	right: 207px;
	background-repeat: no-repeat;
}

.instructors__items {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 -19.5px -40px -19.5px;	
}

.instructors__item {
	flex: 0 1 33.333%;
	padding: 0 19.5px;
	margin: 0 0 40px 0;	
}

.body-instructors {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #2F2B6D;
	border-radius: 12px;
	padding: 30px 36px;
}

.instructors__body {

}
.body-instructors__image {
	border-radius: 50%;
	margin: 0 28px 0 0;
	flex: 0 1 17.187%;
}
.body-instructors__text-block {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-width: 240px;
	margin: 0 66px 0 0;
	flex: 0 1 auto;
}
.body-instructors__title {
	font-weight: 700;
	font-size: 25px;
	line-height: 88%;	
}
.body-instructors__subtitle {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #D0D3DB;
}
.body-instructors__arrow {
	flex: 0 1 9.765%;
	ai
}

@media (max-width: 1619px) {
	.body-instructors__title {
		line-height: 117%;	
	}
}

@media (max-width: 1619px) {
	.instructors__item {
		flex: 0 1 50%;
	}
	.body-instructors__title {
		margin-bottom: 10px;
	}
}

@media (max-width: 992px) {
	.instructors__item {
		flex: 1 1 100%;
	}
	.body-instructors__title {
		font-size: 36px;
	}
	.body-instructors__subtitle {
		font-size: 21px;
	}
	.body-instructors {		
		justify-content: flex-start;
	}
	.body-instructors__text-block {
		margin: 0 auto 0 0;
		padding-right: 30px;
	}
}

@media (max-width: 479px) {
.instructors__top .top__title {
	font-size: 55px;
}
}

/*----------------------------PEOPLE-----------------------------*/


.people {
	padding: 70px 0 79px;
}
.people__container {
}
._container {
}
.people__title {
	margin: 0 0 100px 0;
	position: relative;
}
.people__title::before {
	content: "";
	background-image: url("/img/people/icon/01.svg");
	background-repeat: no-repeat;
	position: absolute;
	width: 117px;
	height: 117px;
	top: -22px;
	left: 83px;
}
.people__title.people__title::after {
	content: "";
	background-image: url("/img/people/icon/arrow-down.svg");
	background-repeat: no-repeat;
	position: absolute;
	width: 115px;
	height:  100px;
	top: 30px;
	right:416px;
	transfor: rotate(45deg);
}
.people__body {
	padding: 83px 84.73px 72px 71px;
	display: flex;
	background: #2F2B6D;
	border: 2px solid rgba(255, 255, 255, 0.2);
	border-radius: 30px;
}
.people__image {
	flex: 0 0 24.767%;
	padding: 0 30px 0 0;
}
.people__content {
	flex: 1 1 auto;
	
}

.content-people__top {
	margin: 0 0 69px 0;
}
.top-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.top-content__text-title {
	font-weight: 700;
	font-size: 28px;
	line-height: 79%;
	margin: 0 0 12px 0;
	padding: 0 30px 0 0;
}

.top-content__text-subtitle {
	font-family: 'Inter';
	font-style: normal;
	font-size: 14px;
	line-height: 129%;
	color: #D9ECFF;
}
.content-people__rait {
}
.rait {
	display: flex;
	align-self: center;
}
.rait__icon {
	background-image: url("../img/people/icon/gold-star.svg");
	width: 30.54px;
	height: 30.54px;
	background-repeat: no-repeat ;
}

.rait__icon:last-child{
	background-image: url("../img/people/icon/w-star.svg");
}

.rait__icon:not(:last-child) {
	margin: 0 8.96px 0 0;
}

.content-people__text {
	font-family: 'Inter';	
	font-size: 20px;
	line-height: 160%;
	color: #B0B0D1;
	margin: 0 0 85px 0;
}
.content-people__bottom {
	display: flex;
	justify-content: space-between;
	position: relative;
}

.content-people__bottom::after {
	content: "";
	position: absolute;
	width: 63px;
	height: 63px;
	top: -13px;
	right: 50%;
	background-image: url("/img/people/icon/small-star.svg");
}

.content-people__arrow {
}
.arrow {
}
.arrow-left {
	margin: 0 28px 0 0;
}
.arrow-right {
}
.content-people__quotes {
}

@media (min-width: 1200px) {
	.people__body {
		/* display: flex; */
	}
	.people__content {		
		padding: 0 0 0 91.2px;
}
.people__image {
	padding: 0 91.8px 0 0;
}
}

@media (max-width: 992px)  {
	.people__body {
		display: block;
		padding: 60px;
	}
	.people__image {
		text-align: center;
		padding-bottom: 50px;
	}	
	.content-people__top {
		margin: 0 0 35px 0;
  }
	.top-content__text {
	margin-bottom: 30px;
	}
	.top-content__text-title {
		font-size: 35px;
	}
	.top-content__text-subtitle {
		font-size: 18px;
	}
	.content-people__text {
		font-size: 22px;
	}
}

@media (max-width: 538px)  {
.people__image img {
	width: 100%;
}
.content-people__text {
	font-size: 20px;
}
}